.LunarRabbit {
	min-width: 600px;
	min-height: 350px;
}

.LunarRabbit .ui_window__head {
	position: relative;
	display: flex;
    justify-content: flex-end;
	background: none !important;
	color: black;
	text-align: center;
	font-size: 12px;
	align-items: center;
	padding-right: 3px;
	width: 100%;
}

.LunarRabbit .ui_window__head__icon {
	display: none;
}

.LunarRabbit .ui_window__head__title {
	height: 20px;
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 100%;
	align-self: center;
	
}

.LunarRabbit .skin_inset_deep {
	border: none;
	box-shadow: none;
}